<div class="container">
  <div class="row">
    <div class="page-header col-lg-12">
      <h1>Export.</h1>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-12">
      <input type="text" ng-model="query.readKey" placeholder="readKey" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-6">
      <label>After <small> (optional)</small></label>
      <input type="text" ng-model="query.start" placeholder="YYYY-MM-DD hh:mm" class="form-control">
    </div>
    <div class="form-group col-lg-6">
      <label>Before <small> (optional)</small></label>
      <input type="text" ng-model="query.end" placeholder="YYYY-MM-DD hh:mm" class="form-control">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="form-group col-lg-12">
      <div class="btn-large btn-success btn" style="white-space: normal; width: 100%" ng-click="query.submit()">
        <h4>
          Get
        </h4>
      </div>
    </div>
  </div>
</div>